
@model Vidly.ViewModels.RandomViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var popular = Model.Customers.Count > 5 ? "popular" : null;
}

@{

    if (!String.IsNullOrWhiteSpace(popular))
    {

        <h4>Popular titles:</h4>
    }
}
@*

    <h2>@Model.Book.Name</h2>

*@
<table class="table table-striped">
    <caption>Customers</caption>
    <thead>
        <tr><th>Customers</th></tr>
    </thead>
    @{
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr><td><a href="">@customer.Name</a></td></tr>
            }
        </tbody>
    }
</table>
